<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Ramesh. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Ramesh_Storepickup::ramesh_store_index" title="Store Details" module="Ramesh_Storepickup"  sortOrder="20" dependsOnModule="Ramesh_Storepickup" action="storepickup/store/index" resource="Ramesh_Storepickup::ramesh_store_index"/>
<!--AddMenu-->
    </menu>
</config>
