<style>
#table_carrier_storepickup_storepickup {
    width: 100%;
}
.storepickup_information {
    float: left;
    margin: 15px;
    width: 150px;
}
.storepickup_info_left
{
    float: left;
}
.storepickup_googlemap
{
    float: right;
}
</style>
<div id="storepickup_information_render" data-bind="load:getstoreInformation,">
		<div id="storepickup_template_render" style="display:none;">
			<div class="storepickup_information">
				<input type="radio" value="{{ID}}" id="store_id_{{ID}}" name="store_id" />
                                 <div class="storepickup_title" >
                                            <div>{{NAME}}</div>
                                            <div>{{CODE}}</div>
                                            <a href="javascrpt::void(0);" class="store_more" id="store_more__{{ID}}">View</a>
                                    </div>
                                <div id="storepickup_information_{{ID}}" style="display:none;">
                                    <div class="storepickup_info_left">
                                        <div class="storepickup_title" >
                                                <div>{{NAME}}</div>
                                                <div>{{CODE}}</div>                                                
                                        </div>
                                        <div class="storepickup_address">
                                                <div>{{STREET1}}</div>
                                                <div>{{STREET2}}</div>
                                                <div>{{CITY}}</div>
                                                <div>{{STATE}}</div>
                                                <div>{{COUNTRY}}</div>
                                                <div>{{POSTALCODE}}</div>
                                        </div>
                                    </div>
                                    <div class="storepickup_googlemap">
                                        <iframe src = "https://maps.google.com/maps?q={{LATITUDE}},{{LONGITUDE}}&hl=es;z=14&amp;output=embed"></iframe>                                            				
                                    </div>
                                    
                                </div>
                                
			</div>
		</div>
		<input type="hidden" id="setcustommethodload" value="0" />
                <div  id="popup_store_information" ></div>
                <div  id="googlemap" ></div>
</div>